@import '../../resources/css/variables.less';

.update-metadata-modal-conatiner {
    padding: 0.3rem 0.4rem;

    .modal-title {
        font-size: @subtitleFont;
        color: @purple;
        font-weight: bolder;
    }
}
