@import '../../../resources/css/variables.less';
.asset-form-main-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 5%;
    padding-left: 2%;
    background-color: white;

    .ivu-icon-ios-help-circle-outline {
        position: absolute;
        right: 0.86rem;
        top: 0rem;
        cursor: pointer;
    }
}
