@import '../../views/resources/css/variables.less';

.vertical {
    border-right: 2px solid @grayLight;
    .symbol-tab-nav {
        height: 0.75rem;
        display:table;
        width: 100.5%;

        .nav-item {
            padding-left: 0.3rem;
            font-size: @normalFont;
            font-weight: 400;
            color: @primary;
            cursor: pointer;
            display:table-cell;
            vertical-align:middle;

            &.active-item {
                color: @primary;
                font-family: @symbolFontSemiBold;
            }
        }
        &.active-item {
            background-color: #f2eef8;
        }
    }

}


.header-container {
    padding-left: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.45rem;

    .title-style {
        color: @primary;
        font-size: @bigFont;
        font-family: @symbolFontSemiBold;
    }
}