@import '../../views/resources/css/variables.less';

.vertical {
    .symbol-tab-nav {
        padding-top: 0.2rem;
        .nav-item {
            padding-bottom: 0.35rem;
            font-size: @normalFont;
            font-weight: 400;
            color: @tipFontColor;
            cursor: pointer;

            &.active-item {
                color: @purple;
            }
        }
    }

    .symbol-tabs-content {
        padding: 0.05rem;
    }
}
