@import "../../views/resources/css/variables.less";
.input-already{
    display: inline-block;
    padding: 0.08rem .2rem;
    background-color: @purple;
    color: @mnemonicColor;
    border-radius: .05rem;
    margin-right: .15rem;
    margin-bottom: .2rem;
    text-transform: lowercase;
  }
  .mnemonic-input-container{
    display: inline-block;
    .mnemonic-input{
      background-color: transparent;
      outline: none;
      max-width: 2rem;
      border: 0;
      width: 100%;
    }
  }