@import '../../../resources/css/variables.less';

.main-delegated-container {
	display: grid;
	grid-template-rows: 1rem 2rem auto;

    .info-text {
    	color: @primary;
        margin-left: 1rem;
        margin-top: 0.25rem;
        margin-right: 1rem;
        text-align: justify;
    }

    .bottom-container {
    	margin-left: 1rem;
        margin-top: 0.25rem;
        margin-right: 1rem;
        text-align: justify;
    }
}
