@import '../../resources/css/variables.less';

/deep/.modal-transaction-cosignature {
    .transaction-details-content {
        position: relative;
        min-height: 6.2rem;

        .explain {
            padding: 0.2rem;
            padding-left: 0.4rem;
            font-size: @normalFont;

            .subtitle {
                color: @primary;
                font-weight: @boldest;
            }

            p {
                padding-top: 0.2rem;
                text-align: justify;
            }
            .emphasis {
                color: @whiteDark;
                font-weight: @boldest;
                padding-left: 1.4rem;
            }

            .warning .ivu-alert-icon {
                font-size: 0.26rem;
            }
        }

        .explain-qr {
            display: grid;
            grid-template-columns: 65% 35%;

            div.qrcode-display {
                margin: auto;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
        }
    }
}

.float-right {
    float: right;
}

.clear-staged-transactions {
    font-size: @smallFont;
    cursor: pointer;
}

.box-position-size {
    left: -0.3rem;
    width: 12.06rem;
    min-height: 2.27rem;
    right: 0;
    position: absolute;
    display: block;
}

.box-section {
    background-color: #44004e;
}

.box-section-accepted {
    background-color: #f89903;
}

.action-button-style {
    z-index: 100001;
    background: white !important;
    color: #44004e;
    width: 2.3rem;
    height: 0.4rem !important;
}

.img-pad {
    margin-bottom: 0.2rem;
}

.img-position {
    width: 0.4rem;
    height: 0.4rem;
    margin-left: 0.7rem;
}

.txt-position {
    margin-left: -0.35rem;
    color: white;
    font-weight: @boldest;
}

.warning-txt-position {
    margin-left: 1.2rem;
}

.warning-txt-checkbox {
    font-weight: bold;
    margin-left: 0.85rem;
    font-family: @symbolFontBold;
}

.warning-txt {
    font-family: @symbolFontBold;
    color: black;
}

.position-button {
    padding-left: 0.63rem;
}

.contact-input {
    background: white;
    margin-left: 0.74rem;
    margin-bottom: 0.05rem;
    width: 2.3rem;
    height: 0.4rem !important;
}

.rejected-button {
    margin-left: 0.74rem;
    width: 2.3rem;
    height: 0.4rem !important;
    font-weight: @symbolFontBold;
}

/deep/.ivu-checkbox-inner {
    background: white !important;
    box-shadow: 0px 2px 4px @primary;
    border-radius: 2px;
    border: none;
}

/deep/.ivu-checkbox-inner::after {
    border-color: black;
}
