@import "../../views/resources/css/variables.less";


.transaction-details-header-inner-container {
  display     : grid;
  grid-row-gap: .1rem;
  margin-top  : .1rem;
}

.transaction-row-inner-container {
  display              : grid;
  grid-template-columns: 1.42rem auto;
  grid-column-gap      : .08rem;

  .transaction-details-row-label-container {
    font-size  : @smallerFont;
    color      : @modalRowColor;
    font-weight: 300;
    line-height: .22rem;
    text-align : right;
  }

  .transaction-details-row-value-container {
    font-size  : @smallerFont;
    color      : @modalRowColor;
    font-weight: 400;
    line-height: .22rem;
    text-align : left;
  }
}


.transaction-details-detail-section-title-container {
  display      : flex;
  padding-left : .25rem;
  margin-top   : .25rem;
  margin-bottom: .1rem;
  font-size    : @normalFont;
  color        : @purpleDark;
  height       : .27rem;
  line-height  : .27rem;
  font-weight  : 400;

  img {
    align-self  : center;
    width       : .11rem;
    height      : .1rem;
    margin-right: .05rem;
  }
}
.transaction-details-outer-container{
  .transaction-details-item-inner-container{
    display: grid;
    grid-row-gap:.1rem;
  }
}