@import '../../../views/resources/css/variables.less';

/deep/.ivu-modal {
    width: 3.6rem !important;
}
/deep/.ivu-modal-body {
    min-height: 1.5rem;
}
/deep/.ivu-modal-header {
    height: 0.5rem;
}
.title {
    position: relative;

    font-family: @symbolFontBold;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;

    color: #3d064b;
}
.modal-body {
    position: relative;
    top: 0.1rem;

    font-family: @symbolFont;
    font-size: 17px;
    line-height: 23px;

    color: #3d064b;
}
.link-text {
    position: relative;
    font-family: @symbolFont;
    font-size: 17px;
    line-height: 23px;
    color: #4c0cbf;
    margin: 0px 4px;
}

.img-positioning {
    position: relative;
    top: 0.1rem;
    height: 0.4rem !important;
}
