@import "./variables.less";

.ivu-modal {
  width: 12.8rem !important;
  overflow-y: auto;
  .ivu-modal-header {
    background-color: @purple;
    font-size       : @fontSize24;
    color           : @white;
    padding         : 0.15rem 0;
    font-weight     : 400;
    box-shadow      : 0px 0.05rem 0.06rem rgba(0, 0, 0, 0.16);
    border-radius   : 0.06rem 0.06rem 0px 0px;
    height: 0.64rem;

    .ivu-modal-header-inner {
      color: @white;
    }

    .modal-header {
      display      : flex;
      justify-items: center;
      height       : .33rem;
      line-height  : .33rem;

      img {
        width       : .18rem;
        height      : .22rem;
        margin-right: .11rem;
        margin-left : .32rem;
        align-self  : center;
      }
    }
  }

  .ivu-modal-body {
    padding: 0.15rem .6rem;
    height: 6.56rem;
    overflow-y: auto;
  }

  .ivu-modal-close {
    top  : .18rem;
    right: .2rem;

    .ivu-icon {
      font-size  : 0.34rem;
      color      : @white;
      font-weight: 600;
    }
  }
}