@import "../../views/resources/css/variables.less";

.symbol-tabs-content {
  width   : 100%;
  overflow: hidden;

  .tabs-content {
    display       : flex;
    flex-direction: row;
    will-change   : transform;
    transition    : transform .3s ease-in-out;
  }
}

.vertical {
  display              : grid;
  grid-template-columns: 20% 80%;

  .symbol-tab-nav {
    padding-top: .2rem;

    .nav-item {
      padding-bottom: 0.35rem;
      font-size     : @normalFont;
      font-weight   : 400;
      color         : #666;
      cursor        : pointer;

      &.active-item {
        color: @purple
      }
    }
  }

  .symbol-tabs-content {
    padding: .05rem;
  }
}