@import "../../../views/resources/css/variables.less";
.transaction-details-outer-container{
    max-height: 2.8rem;
    overflow-y: scroll;
  }
  .transaction-details-item-inner-container {
    display              : grid;
    grid-row-gap         : .1rem;
    grid-template-columns:  50% 50%;

    .transaction-row-outer-container{
      grid-column-start: 1;
      grid-column-end: 3;
    }
  
    .transaction-row-outer-container:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .transaction-row-outer-container:nth-child(4) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  
    margin-top: .1rem;
  
    .transaction-row-inner-container {
      display              : grid;
      grid-template-columns: 1.26rem auto;
      grid-column-gap      : .11rem;
  
      /deep/.transaction-details-row-label-container {
        font-size  : @smallerFont;
        color      : @modalRowColor;
        font-weight: 300;
        line-height: .22rem;
        text-align : right;
      }
  
      /deep/.transaction-details-row-value-container {
        font-size  : @smallerFont;
        color      : @modalRowColor;
        font-weight: 400;
        line-height: .22rem;
        text-align : left;
      }
    }
  }